@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgba(112, 234, 243, 0.692);
}
.container{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display:flex;
    justify-content: space-between;

    align-items: center;
}
.log{
    height: 80px;
    width: 80px;
}
nav a{
    color:rgb(15, 15, 15);
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
nav a::before{
    content:'';
    position: absolute;
    top:100%;
    width:0;
    left:0;
    height:2px;
background-color: rgb(29, 12, 179);
transition: 1s;
}
nav a:hover::before{
    width:100%;
}
.intro{
    font-size: x-large;
    margin-left: 20%;
    margin-top:15%;
animation: slideme 2s ;
    
}  
@keyframes slideme{
    0%{
        
        transform: translate(-500px);
    }
    100%{
        transform:skew(0deg);
    }
}

.intro h1:hover{
    transition: 2s;
    transform: scaleY(1.2);
}
.btn{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border: transparent;
    background-color: rgb(255, 249, 251);
    border-radius: 5px;
}
.btn:hover{
    transform: scale(1.2, 1.2);
    transition: 3s;
    background-color: rgba(37, 228, 37, 0.993);

}
.girl{
    margin-top:-27%;
    margin-left: 50%;
   animation: slideyou 2s;
}  
@keyframes slideyou{
    0%{
        transform: translate(500px);
    }
    100%{
        transform:skew(0deg);
    }
}
.matter{
    margin-right: 10%;
    margin-top: -4%;
    float:right;
    display: block;
    width:40%;
    height:70%;
   text-align: justify;
   font-size: large;
   font-family: sans-serif;
   line-height: 150%;
  
}
.do{
    margin-left: 15%;
  display: flex;
  margin-top: 5%;
}
.logos{
	margin-top: 5%;
    margin-left: 7%;
    display: flex;
}
.project{
   
    margin-top: 4%;
    display: flex;
}
.food{
    margin-left: 11%;
    width: fit-content;
    
    padding: 20px 20px;
}
.calci{
   
    margin-left: 2%;
    width: fit-content;
    
    padding: 20px 20px;

    }
.game{
    margin-left: 2%;
        width: fit-content;
        
        padding: 20px 20px;
    
        }
#projects{
        text-align: center;
        border-bottom: 2px solid #000; 
        width: 20%;
        transform: translateX(180%);

}
#ab{
    text-align: center;
    border-bottom: 2px solid #000; 
    width: 100%;
    transform: translateX(0%);

}
#Skills{
    text-align: center;
    border-bottom: 2px solid #000; 
    width: 20%;
    transform: translateX(210%);
}
.rightl{
    height: 400px;
    width: 400px;
}
.leftl{
    height: 400px;
    width: 400px;
}
.last{
    display: flex;
    justify-content: space-evenly;
}
.conl h2 {
    text-align: center;
    border-bottom: 2px solid #000; 
    width: 20%;
    transform: translateX(200%);
    padding-top: 5%;
    
}
.last .leftl{
    /* margin-left: 10%; */
    text-align: justify;
}
.last .rightl input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 60px;

}
.last .rightl input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 60px;

}
.last .rightl input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.last .rightl button{
    height: 50px;
    width: 150px;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    transform: translateY(49px);
    background-color: rgb(231, 44, 44);
    transition: all ease 1s;
    border: none;

}
footer{
    background: #040404;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.social i{
    height: 60px;
    width: 60px;
    margin-top: 2%;
}
.social a i{

    text-decoration: none;
    color: white;
}